<form {{action "save" on="submit"}}>
  <h2>{{errorMessage}}</h2>

  <p>
    <label>First Name</label>
    {{input value=model.firstName}}
  </p>
  <p>
    <label>Last Name</label>
    {{input value=model.lastName}}
  </p>
  <p>
    <label>Email</label>
    {{input value=model.email}}
  </p>
    <p>
    <label>Twitter</label>
    {{input value=model.twitter}}
  </p>
  <p>
    <label for="trusted">
    {{input type="checkbox" name=trusted}} Trusted?
    </label>
  </p>

  <div>
    <h2>Friend Details</h2>
    <p>{{model.firstName}}</p>
    <p>{{model.lastName}}</p>
  </div>




  <input type="submit" value="Save Friend">
  <button {{action "cancel"}}>Cancel</button>
</form>
